/* 
    12. Footer css 
*/
.footer__section{
    @media only screen and (max-width: 991px) {
        padding-bottom: 80px;
    }
}
.footer__bg{
   background: url(../img/banner/banner-fullwidth4.webp);
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center center;
   background-size: cover;
}
.main__footer{
    &.section--padding{
        @media only screen and (max-width: 991px) {
            padding-bottom: 3rem;
        }
    }
}
.footer__social{
    gap: 1rem;
    margin-top: 1.7rem;
}
.social__share--icon{
    width: 3.8rem;
    height: 3.8rem;
    background: var(--body-background-color);
    color: var(--primary-color);
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background: var(--secondary-color);
        color: var(--text-white-color);
    }
    @media only screen and (min-width: 1200px) {
        width: 4.2rem;
        height: 4.2rem;
    }
}
.footer__logo{
    margin-bottom: 0.5rem;
}

.footer__widget{
    @media only screen and (max-width: 991px) {
        margin-bottom: 3rem;
    }
    @media only screen and (max-width: 767px) {
        margin-bottom: 0;
    }
    &--desc{
        font-size: 1.5rem;
        margin-bottom: 0;
        color: var(--primary-color);
        margin-bottom: 0;
        @media only screen and (min-width: 768px) {
            font-size: 1.6rem;
        }
    }
    &--title{
        margin-bottom: 2.2rem;
        font-weight: 600;
        position: relative;
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: var(--primary-color);
        text-transform: uppercase;
        @media only screen and (min-width: 768px) {
            font-size: 1.7rem;
            line-height: 2.4rem;
            margin-bottom: 1.5rem;
        }
        @media only screen and (min-width: 992px) {
            line-height: 2.6rem;
            margin-bottom: 2rem;
            font-size: 1.8rem;
        }
        &__arrowdown--icon{
            position: absolute;
            right: 0;
            top: 38%;
            transition: .3s;
            display: none;
            @media only screen and (max-width: 767px) {
                display: block;
            }
        }
    }
    &.active{
        padding-bottom: 3rem;
        & .footer__widget--title__arrowdown--icon{
            transform: rotate(
            180deg);
        }
    }
    &--menu{
        &__list{
            margin-bottom: 0.6rem;
            @media only screen and (min-width: 768px) {
                margin-bottom: 0.8rem;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__text{
            line-height: 2.6rem;
            font-size: 1.5rem;
            color: var(--primary-color);
            @media only screen and (min-width: 768px) {
                line-height: 2.8rem;
                font-size: 1.6rem;
            }
        }
    }
    &--info{
        margin-top: 1.7rem;
        &__icon{
            color: var(--primary-color);
        }
        &_list{
            display: flex;
            align-items: center;
            gap: 1.5rem;
            margin-bottom: 1rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__text{
            font-size: 1.5rem;
            line-height: 2.5rem;
            color: var(--primary-color);
            @media only screen and (min-width: 768px) {
                font-size: 1.6rem;
                line-height: 2.8rem;
            }
        }
    }
}

.footer__widget--button{
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    content: "";
    color: transparent;
    border: 0;
    background-color: transparent;
    @media only screen and (max-width: 767px) {
        visibility: visible;
    }
}
.footer__widget--inner {
    @media only screen and (max-width: 767px) {
        display: none;
    }
}

.footer__bottom{
    border-top: 1px solid var(--border-color);
    &--inenr{
        padding: 1.8rem 0;
        @media only screen and (min-width: 992px) {
            padding: 2.2rem 0;
        }
        @media only screen and (max-width: 991px) {
            flex-wrap: wrap;
            gap: 1.2rem;
            justify-content: center !important;
        }
    }
}
.copyright__content{
    @media only screen and (max-width: 767px) {
        text-align: center;
    }
}
.footer__payment{
    &.mt-30{
        @media only screen and (max-width: 767px) {
            margin-top: 2rem;
        }
    }
}

/*
    home six footer css
*/
.footer__bg--style2{
    background: rgba(250, 238, 238, 0.9);
}
.footer__content--menu{
    gap: 2.5rem;
    margin-bottom: 2.5rem;
    @media only screen and (min-width: 576px) {
        gap: 3rem;
        margin-bottom: 3rem;
    }
    &__link{
        text-transform: uppercase;
        font-weight: 500;
        color: var(--primary-color);
    }
}
.main__footer--content{
    & .footer__logo{
        margin-bottom: 1rem;
        @media only screen and (min-width: 576px) {
            margin-bottom: 1.5rem;
        }
    }
    & .footer__payment{
        & img{
            margin: 0 auto;
        }
    }
    & .footer__social{
        margin-top: 0;
        margin-bottom: 2.5rem;
        @media only screen and (min-width: 576px) {
            margin-bottom: 3rem;
        }
    }
}
.footer__bottom--style{
    border-top: 1px solid #ddd;
}