/* 
    5. Product card css 
*/
.product__tab--btn{
  margin-top: 2.5rem;
}

.tab__btn{
    &--wrapper{
      gap: 1rem;
      flex-wrap: wrap;
      @media only screen and (min-width: 992px) {
        gap: 1.5rem;
      }
      @media only screen and (min-width: 1200px) {
        gap: 2rem;
      }
    }
  &--link{
    font-weight: 500;
    font-family: var(--inter-fonts);
    text-transform: capitalize;
    color: var(--foreground-sub-color);
    border: 0;
    background: var(--bg-offwhite-color);
    font-size: 1.3rem;
    padding: 3px 18px;
    border-radius: 22px;
    line-height: 2.6rem;
    @media only screen and (min-width: 992px) {
      font-size: 1.4rem;
      padding: 3px 18px;
    }
    @media only screen and (min-width: 1200px) {
      font-size: 1.5rem;
      padding: 8px 25px;
    }
    &:hover{
      background: var(--primary-color);
      color: var(--text-white-color);
    }
    &.active{
      background: var(--primary-color);
      color: var(--text-white-color);
    }
  }
}

.product__card {
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.10);
    background: var(--body-background-color);
    &:hover {
      & .product__card--thumbnail__img {
        transform: scale(1.02);
      }
      & .product__secondary--img {
        opacity: 1;
        visibility: visible;
        transform: scale(1.02) translatex(-50%);
      }
      & .product__primary--img {
        opacity: 0;
        visibility: hidden;
      }
      & .swiper__nav--btn {
        opacity: 1;
        visibility: visible;
      }
      & .product__card--action{
          opacity: 1;
          visibility: visible;
         bottom: 35%;
         &__btn{
          transform: scale(1);
         }
      }
      & .product__add--to__card{
        opacity: 1;
        visibility: visible;
        bottom: 1.4rem;
      }
    }
    &--thumbnail {
      position: relative;
      overflow: hidden;
      &__link{
        position: relative;
      }
      &__img {
        margin: 0 auto;
        width: 100%;
      }
    }
    &--content {
      position: relative;
      padding: 2rem 1.5rem 1.5rem;
    }
    &--title {
      margin-bottom: 0.8rem;
      font-weight: 500;
      @media only screen and (max-width: 479px) {
        line-height: 2.2rem;
      }
      & a{
        color: var(--primary-color);
        &:hover{
          color: var(--secondary-color);
        }
      }
    }
    &--btn {
      background: var(--secondary-color);
      color: var(--text-white-color);
      padding: 0 2rem;
      height: 3.8rem;
      line-height: 4.3rem;
      border-radius: 0.5rem;
      font-size: 1.4rem;
      @media only screen and (min-width: 1200px) {
        font-size: 1.5rem;
        padding: 0 2.5rem;
        height: 4rem;
        line-height: 4.5rem;
      }
      &:hover {
        background: var(--primary-color);
        color: var(--text-white-color);
      }
      & svg{
        margin-left: 0.3rem;
      }
    }
    &--action {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      z-index: 9;
      transition: 0.5s;
      top: 15px;
      right: 15px;
      @media only screen and (max-width: 575px) {
        opacity: 1;
        visibility: visible;
      }
      &__list{
        margin-bottom: 1rem;
        &:last-child{
          margin-bottom: 0;
        }
      }
      &__btn {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        color: var(--primary-color);
        background: var(--bg-offwhite-color);
        border-radius: 50%;
        text-align: center;
        transform: scale(0.5);
        transition: 0.5s;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.18%);
        @media only screen and (max-width: 575px) {
          transform: scale(1);
        }
        &:hover {
          background: var(--secondary-color);
          color: var(--text-white-color);
        }
        @media only screen and (min-width: 576px) {
          width: 3.2rem;
          height: 3.2rem;
          line-height: 3rem;
        }
        @media only screen and (min-width: 992px) {
            width: 3.4rem;
            height: 3.4rem;
            line-height: 3.5rem;
        }
        @media only screen and (min-width: 1200px) {
            width: 3.8rem;
            height: 3.8rem;
            line-height: 4rem;
        }
      }
    }
    &--rating{
      margin-bottom: 1.1rem;
      &.mb-20{
        margin-bottom: 2rem;
      }
    }
  }
.product__add--to__card{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  @media only screen and (max-width: 575px) {
    opacity: 1;
    visibility: visible;
    bottom: 1.5rem;
  }
}
  .product__badge{
      width: 4rem;
      height: 2.2rem;
      font-size: 1.2rem;
      line-height: 2.6rem;
      background: var(--secondary-color);
      color: var(--text-white-color);
      font-family: var(--inter-fonts);
      position: absolute;
      top: 1.5rem;
      left: 0;
      text-align: center;
      border-radius: 0.4rem;

  }
  .product__secondary--img {
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: translatex(-50%);
  }

  .current__price {
    color: var(--hover-color);
    font-weight: 600;
    line-height: 1.8rem;
    font-family: var(--inter-fonts);
    font-size: 1.4rem;
    @media only screen and (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
  .old__price {
    color: var(--foreground-sub-color);
    margin-left: 0.6rem;
    line-height: 1.8rem;
    font-family: var(--inter-fonts);
    text-decoration: line-through;
    font-size: 1.4rem;
    @media only screen and (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
  .rating {
    gap: 0.5rem;
    &__icon{
      color: var(--yellow-color);
    }
  }
.rating__review--text{
  font-size: 1.2rem;
  font-family: var(--inter-fonts);
  color: var(--foreground-sub-color);
}


.product__load--more{
    margin-top: 3rem;
    @media only screen and (min-width: 768px) {
      margin-top: 4rem;
    }
    @media only screen and (min-width: 992px) {
      margin-top: 6rem;
    }
}
.product__swiper--column4{
  &.padding{
    padding: 0 0.5rem 1rem;
  }
}

.product__section--border{
  padding: 6rem 1rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid var(--primary-color);
  @media only screen and (min-width: 768px) {
    padding: 6.5rem 1rem 2.5rem;
  }
}

.product__section--countdown{
  position: absolute;
  top: -15px;
  left: 1.6rem;
  padding: 0.5rem 0.8rem;
  background: var(--primary-color);
  border-radius: 1rem;
  gap: 0.6rem;
  @media only screen and (min-width: 480px) {
    top: -20px;
    left: 2rem;
    padding: 0.8rem 1rem;
  }
  @media only screen and (min-width: 768px) {
    top: -28px;
    left: 10rem;
    padding: 1rem 2rem;
    gap: 1.2rem;
  }
  & .countdown__item{
    text-align: center;
  }
  & .countdown__number{
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: var(--text-white-color);
    @media only screen and (min-width: 768px) {
      font-size: 2.2rem;
      line-height: 2rem;
    }
  }
  & .countdown__text{
    font-size: 1.2rem;
    color: var(--text-white-color);
    text-transform: capitalize;
    line-height: 1.6rem;
    @media only screen and (min-width: 768px) {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
}