/* 
    3. Slider css 
*/

.hero__slider--items{
    background: url(../img/slider/home1-slider1-bg.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-color: #DFF0F9;
    position: relative;
    padding: 30px 0 60px;
    @media only screen and (min-width: 480px) {
        padding: 40px 0 70px;
    }
    @media only screen and (min-width: 768px) {
        padding: 75px 0;
    }
    @media only screen and (min-width: 992px) {
        padding: 110px 0;
    }
    @media only screen and (min-width: 1366px) {
        padding: 135px 0;
    }
    @media only screen and (min-width: 1600px) {
        padding: 250px 0;
    }
    @media only screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.slider__maintitle{
    margin-bottom: 1.2rem;
    @media only screen and (min-width: 768px) {
        margin-bottom: 1.5rem;
    }
    @media only screen and (min-width: 992px) {
        margin-bottom: 2rem;
    }
    @media only screen and (min-width: 1200px) {
        margin-bottom: 2.5rem;
    }
}
.slider__content{
    position: relative;
    z-index: 9;
    @media only screen and (max-width: 767px) {
        text-align: center;
        margin-top: 3rem;
    }
    @media only screen and (max-width: 479px) {
        margin-top: 2.5rem;
    }
}
.slider__desc{
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 1.8rem;
    @media only screen and (min-width: 768px) {
        font-size: 1.5rem;
    }
    @media only screen and (min-width: 992px) {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 2.2rem;
    }
    @media only screen and (min-width: 1200px) {
        font-size: 1.7rem;
        line-height: 2.8rem;
        margin-bottom: 3rem;
    }
}

.hero__slider--layer{
    position: absolute;
    right: 20px;
    bottom: 0;
    @media only screen and (min-width: 1366px) and (max-width: 1599px) {
        max-width: 63rem;
    }
    @media only screen and (min-width: 1200px) and (max-width: 1365px) {
        max-width: 53.8rem;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        max-width: 49rem;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        max-width: 40rem;
    }
    @media only screen and (max-width: 767px) {
       position: inherit;
       right: inherit;
       padding: 0 6rem;
    }
    @media only screen and (max-width: 479px) {
        padding: 0 4rem;
     }
    @media only screen and (max-width: 499px) {
        padding: 0 3rem;
     }
}
.slider__layer--img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    display: block;
}
.swiper-slide-active .slider__content > * {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.swiper-slide-active{
    & .slider__subtitle{
        -webkit-animation-delay: 0.2s;
	    animation-delay: 0.2s;
    }
    & .slider__maintitle{
        -webkit-animation-delay: 0.4s;
	    animation-delay: 0.4s;
    }
    & .slider__desc{
        -webkit-animation-delay: 0.6s;
	    animation-delay: 0.6s;
    }
    & .slider__price{
        -webkit-animation-delay: 0.8s;
	    animation-delay: 0.8s;
    }
    & .slider__btn{
        -webkit-animation-delay: 0.9s;
	    animation-delay: 0.9s;
    }
    & .slider__layer--img{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: 1.4s;
    }
}

.slider__pagination{
    &.swiper-pagination{
        bottom: 2rem !important;
        @media only screen and (min-width: 768px) {
            bottom: 3rem !important;
        }
    }
}


/*
    home two css
*/
.home__two--slider__items{
    background: url(../img/slider/home2-slider1-bg.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-color: #DFF0F9;
}

.slider__items--inner {
    padding-top: 8rem;
    @media only screen and (min-width: 575px) {
        padding-top: 9rem;
    }
    @media only screen and (min-width: 768px) {
        padding-top: 8rem;
    }
    @media only screen and (min-width: 992px) {
        padding-top: 9rem;
    }
    @media only screen and (min-width: 1200px) {
        padding-top: 10rem;
    }
    @media only screen and (min-width: 1600px) {
        padding-top: 14rem;
    }
    @media only screen and (max-width: 767px) {
        padding-bottom: 7rem;
    }
    & .slider__layer--img{
        margin: 0 0 0 auto;
        @media only screen and (max-width: 767px) {
            margin: 0 auto;
        }
    }
    & > .row{
        @media only screen and (max-width: 767px) {
            flex-direction: column-reverse;
        }
    }
}
.slider__layer--img.style2{
    @media only screen and (min-width: 1200px) and (max-width: 1599px) {
        max-width: 47rem;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        max-width: 40rem;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        max-width: 32rem;
    }
    @media only screen and (max-width: 767px) {
        max-width: 400px;
    }
    @media only screen and (max-width: 575px) {
        max-width: 350px;
    }
    @media only screen and (max-width: 399px) {
        max-width: 90%;
    }
}

/*
    home three css
*/
.home__three--slider__items{
    background: url(../img/slider/home3-slider1-bg.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-color: #DFF0F9;
    padding: 3.5rem 0 6.5rem;
    @media only screen and (min-width: 768px) {
        padding: 13rem 0;
    }
    @media only screen and (min-width: 992px) {
        padding: 15rem 0;
    }
    @media only screen and (min-width: 1366px) {
        padding: 16rem 0;
    }
    @media only screen and (min-width: 1600px) {
        padding: 24rem 0;
    }
    @media only screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.hero__slider--layer.style3{
    @media only screen and (min-width: 1366px) and (max-width: 1599px) {
        max-width: 49rem;
    }
    @media only screen and (min-width: 1200px) and (max-width: 1365px) {
        max-width: 42rem;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        max-width: 40rem;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        max-width: 35rem;
    }
}


/*
    home five slider css
*/
.home__five--slider__items{
    background: url(../img/slider/home5-slider1-bg.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding: 3.5rem 0 6.5rem;
    @media only screen and (min-width: 768px) {
        padding: 13rem 0;
    }
    @media only screen and (min-width: 992px) {
        padding: 15rem 0;
    }
    @media only screen and (min-width: 1366px) {
        padding: 17rem 0;
    }
    @media only screen and (min-width: 1600px) {
        padding: 28rem 0;
    }
    @media only screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
    }
}
